.flex
{ 
    background-color: rgb(41, 41, 46);
    display: flex;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 60px;
    justify-content: space-between;
    color: aliceblue;
    padding-left: 40px;
    padding-right: 40px;
    
    z-index: 1;
}

.flex2
{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
}

.flex3 
{
    
    background-color: none;
    background-image: url(master\ \(2\)1.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    
    
    
    
        
    
}



.flex4{

    
    display: grid;
    grid-template-columns: 600px 600px 1fr;
    height: 500px;
    background-color: rgb(71, 102, 0);
    
        
    
}

.flex5 {

   
    background-color: rgb(104, 2, 151);
   
}

.master 
{
    object-fit: cover;
}

.View
{
    font-family: Arial, Helvetica, sans-serif;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;
    background-color: rgb(136, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.View:hover
{
    
    background-color: rgb(170, 1, 1);
    
}

.View:active
{
    
    opacity: 0.6;
}

.para-4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
}

.para-5
{
    font-family: Arial, Helvetica, sans-serif;
  
    margin-left: 50px;
    
}

.link2 {
    margin-left: 50px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    
}

.para-6 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 150px;
    animation-name: fadein;
    animation-duration: 12s;
    
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.arrow {
    margin-top: 40px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    padding: 3px;
    
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes bounce
{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.arrow-div
{
    
    animation: bounce 3s infinite;

}

.main-message-div
{
    animation: fadein 6s;
    
}

.scroll-container {
  
  padding-top: 15px;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  font-weight: 600;
}

.scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 8s linear infinite;
  -webkit-animation: my-animation 8s linear infinite;
  animation: my-animation 8s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.scroll-container2 {
  
  padding-top: 15px;
  font-size: 20px;
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  font-weight: 600;
}



p{
    font-family: Arial, Helvetica, sans-serif;
}




.Tool-bar 
{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;

   
}

.contact-sidebar 
{
    background-color:rgb(61, 61, 61);
    animation-name: jamaica2;
    animation-duration: 12s;
    animation: jamaica2 12s infinite;
    font-family: Arial, Helvetica, sans-serif;
 

}

.bold-text
{
    display: block;
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.smaller-text
{
    color: aliceblue;   
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 60px;
    font-weight: 100px;
     text-align: center;

}

.smaller-text2
{
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    color: rgb(255, 255, 255);
     margin-left: 70px;
    
    

}

.name
{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    width: 370px;
    padding-left: 10px;
    display: block;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.Email
{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    width: 370px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    display: block;
     margin-left: 70px;
     border-radius: 6px;
     border-width: 2px;
     font-family: Arial, Helvetica, sans-serif;
    
    
}

.message
{   
    height: 100px;
    width: 370px;
    padding-top: 12px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 6px ;
    border-color: rgb(54, 54, 54);
    display: block;
     margin-left: 70px;
     font-family: Arial, Helvetica, sans-serif;
   
}



.submit-button
{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 200px;
    padding-left: 50PX;
    padding-right: 50px;
    display: block;
    margin-left: 178PX;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(87, 87, 87);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.Photo-1
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Photo-2
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-tool-bar
{
     display: flex;
    background-color:  rgb(41, 41, 46);
    justify-content: space-between;
    z-index: 1;
    padding-right: 70PX;
    padding-left: 70px;
       

}

.bottom-tool-1-text
{
    margin-top: 70px;
    font-size: 28PX;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
   
}

.bottom-tool-1-text2a
{
    
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-tool-1-text
{
    margin-top: 70px;
    font-size: 28PX;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.Banner 
{
    width: 980;
    height: 946px;
    display: grid;
 
   
}

.Photo-1 
{
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.grid-template {
    color: blue;
}

.servive-photo-box {
    margin-top: 50px;
    height: 600px; ;
   margin-left: 210px;
   margin-bottom: 50px;
   

}

.service-photo
{
    height: 100%;
    box-shadow: 10px 10px black, 20px 20px green, 30px 30px gold;
    border-left: 1px ;
 
}

.service-photo:hover
{
    transform: scale(1.2);
}

.para-1 {
    font-family: Alfa Slab One;
    margin-top: 350px;
    
    font-size: 35px;
    color: white;
    animation-name: jamaica3;
    animation-duration: 12s;
    animation: jamaica3 12s infinite;
    
}

.para-2 {
    font-family:  Alfa Slab One;
    
    font-size: 35px;
    color: white;
    animation-name: jamaica3;
    animation-duration: 12s;
    animation: jamaica3 12s infinite;
    
}

.para-cont
{

    background-color: rgb(119, 0, 0); 
    height: 800px;
    animation-name: jamaica2;
    animation-duration: 12s;
    animation: jamaica2 12s infinite;
    
}

@keyframes jamaica {
    25% {color: black;}
    50% {color: rgb(0, 194, 26);}
    100% {color: rgb(255, 230, 0);}
}

@keyframes jamaica2 {
  25%   {background-color:rgb(0, 0, 0); left:0px; top:0px;}
  50%   {background-color:rgb(0, 133, 29); left:200px; top:0px;}
  100%  {background-color:gold; left:0px; top:0px;}
}

@keyframes jamaica3 {
  25%  {color:rgb(255, 255, 255); left:200px; top:0px;}
  50%  {color:rgb(0, 0, 0); left:200px; top:200px;}
  100% {color:rgb(0, 0, 0); left:0px; top:0px;}
}






.location 
{
    position: relative;
    animation-timing-function: linear;
    animation: mymove 5s;
    width: 300px;
}



.button-div{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 800px;
    height: 100px;
   
    
}

.Next-page-button-link
{
    font-size: 15px;
    color: rgb(110, 110, 110);
    text-decoration: none;
}

.Next-page-button-link:hover
{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Next-page-button
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
}

.Next-page-button:hover 
{
    background-color: rgb(0, 0, 0);
    color: white;
}
.Next-page-button:active 
{
    opacity: 0.6;
}

.toolink{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    
}

.toolink:hover{
    color: rgb(100, 100, 100);
    text-decoration: none;
    
}



.tool
{
    font-size: 17px;
}

.tool:hover
{
 color: rgb(90, 90, 90);
 cursor: pointer;
}

.tool:active
{
 opacity: 0.6;
}

.bottom-tool-1-text2{
    color: white;
    
}

.bottom-tool-1-text22
{
    color: white;
    
}

.bottom-tool-1-text22:hover{
    color: rgb(90, 90, 90);
    cursor: pointer;
}

.bottom-tool-1-text22:active
{
    opacity: 0.6;
}



.para-3
{
    margin-top: 400px;
 
    color: rgb(255, 255, 255);
    font-size: 50px;
    animation-name: fadein;
    animation-duration: 4s;
    font-weight: bold;
}

.main-message-div
{
    border: 5px;
    border-radius: 4px;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.about-us-div
{
    text-align: center;

}

.about-us
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 600px;
    
    

}

.about-us2
{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
     font-size: 20px;
    
    width: 600px;
}

.img-1 {
    cursor: pointer;
}

.contact-form
{
    background-color:rgb(61, 61, 61);
    animation-name: jamaica2;
    animation-duration: 12s;
    animation: jamaica2 12s infinite;
    font-family: Arial, Helvetica, sans-serif;
 

}

.container111 {
  text-align: center;
}

.hidden-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hidden-text.visible {
  opacity: 1;
  transform: translateY(0);
}

/*new 2*/

.container111 {
  text-align: center;
}

.hidden-text2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hidden-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.card {
  position: absolute;
  background-color: #F8F8F8;
  border-radius: 1.5em;
  min-width: 400px;
  max-width: 1170px;
  width: 30%;
  padding: 2.6em 3.8em;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 40%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1), 
    0 32px 32px rgba(0, 0, 0, 0.15),
    0 64px 64px rgba(0, 0, 0, 0.15);
}
.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #AFAFAF;
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  position: absolute;
  top: -1.8em;
  left: 0;
}
.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.polaroid {
background: #fff;
display: inline-block;
margin: 20px;
padding: 15px 15px 70px;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.polaroid img {
display: block;
width: 250px;
}

.polaroid:hover {
transform: scale(1.1);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.caption {
margin-top: 10px;
font-size: 18px;
color: #333;}

.para-7
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 20px;
    color: #000000;
}

.para-8
{
    font-size: 16px;
    color: rgb(158, 158, 158);
    font-family: Arial, Helvetica, sans-serif;
;
}

.para-9
{
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #b91d1d;
  text-transform: uppercase;
  animation: flip 2s infinite;

  animation-delay: calc(.2s * var(--i));
  
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


.polaroid2 {
    /*rotate: 30deg;*/
    background: #fff;
    display: inline-block;
    
    margin-right: 300px;
    padding: 15px 15px 60px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.polaroid2 img {
display: block;
width: 500px;
}

.polaroid2:hover {
transform: scale(1.1);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.img22 {
    
    height: 400px;
    width: 400px;
}


/*the text 2*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);



body{
 
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #000000;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: green;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: gold;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: brown;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

.ddd {
    background-image: url(WhatsApp\ Image\ 2025-07-10\ at\ 5.18.29\ PM.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.box {
  background-color: #4CAF50;
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 8px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.box.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.box.slide-out {
  opacity: 0;
  transform: translateX(100%);
}

* {
  box-sizing: border-box;
}
h1 {
  font-weight: normal;
}

/*text 3*/
*, *:before, *:after { box-sizing: border-box; }
html { height: 100%; }


.logo-container {
  position: relative;
  
  &:before {
    content:  "";
    position: absolute;
    top:      calc( 100% - 2px );
    width:    100%;
    height:   4px;
    background-color: #cf0000;
    transform-origin: center center;
    transform: scaleX( 0 );
    
    animation: line-animation 3s ease infinite alternate;
  }
  
  h1#page-logo {
    font: bold 6rem 'Arial', sans-serif;
    
    
    animation: clip-path-reveal-1 3s ease infinite alternate;
  }
}

@keyframes line-animation {
  0% { transform: scaleX( 0 ); }
  15% { transform: scaleX( 0 ); }
  20%, 25% { transform: scaleX( 1 ); top: calc( 100% - 2px ); }
  50% { transform: scaleX( 1 ); top: 0px; }
  70% { transform: scaleX( 0.2 ); top: 0px; }
  80%, 100% { transform: scaleX( 0.2 ); top: 0px; }
}

@keyframes clip-path-reveal-1 {
  0%, 25% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
  50% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}


.contact-form-div {
  @media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}
}